.contest-container {
   display: flex;
   flex-direction: row;
}

.contest-base {
  margin-left: 6em;
}

.contest-section{
  margin-left: 3em;
  font-weight: bold;
  line-height: 2em;
}

ul{
  padding-left: 1.2em;
}